.App {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
}

.App__loader {
  width: 60%;
  height: 100%;
  background-image: url(../images/earth.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.App__error {
  position: absolute;
  color: white;
  width: 75%;
  margin: 50px auto;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .App__loader {
    width: 300px;
  }
}