.Asteroid {
    width: 100%;
    border: 2px solid transparent;
    border-image: -webkit-linear-gradient(to right, #ff00cc, #333399);
    border-image: linear-gradient(to right, #ff00cc, #333399); 
    border-image-slice: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.Asteroid_hazardous {
    background-image: url(../images/danger.gif);
    background-size: cover;
}

.Asteroid__illustration {
    height: 150px;
    position: relative;
}

.Asteroid__illustration_asteroid {
    position: absolute;
    bottom: 50;
    right: 100px;
    width: 100px;
    height: 100px;
    background-image: url(../images/asteroid.svg);
    background-size: contain;
}

@keyframes about-statue {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.Asteroid__illustration_statue {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 50px;
    height: 50px;
    background-image: url(../images/statue_of_liberty.png);
    background-size: 50px 50px;
}

.Asteroid__illustration_statue:hover::after {
    content: 'Высота Статуи Свободы с факелом 93 метра';
    position: absolute;
    color: white;
    font-size: 12px;
    width: 150px;
    padding: 10px;
    bottom: 20px;
    right: 70px;
    border-radius: 7px;
    background-color: rgba(51, 51, 153, 0.5);;
    text-align: center;    
    cursor: default;
    opacity: 0;
    animation: about-statue 1s forwards;
  }

.Asteroid__title {
    font-size: 18px;
    position: absolute;
    bottom: 70px;
    left: 20px;
    margin: 0;
    cursor: pointer;
}

.Asteroid__information {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.Asteroid__information_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Asteroid__information_dots {
    content: '';
    border-bottom: 1px dashed white;
    flex-grow: 1;
    margin: 0;
}

.Asteroid__paragraph {
    font-size: 14px;
    margin: 0;
}

.Asteroid__interaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}